.p-modal{
    width: 25rem;
    box-shadow: var(--shadow-box);
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.pm-input{
    width: 100%;
}


.active-outer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--input-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }